*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.cdnfonts.com/css/glitch-goblin');
body{
    height: 100vh;
    display: flex;
}
main{
    background-color: #7EACD6;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    
}
img{
    
    height: 30%;
}
input{
    height: 30px;
    width: 300px;
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
}
button{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: none;
}
.message_erro {
    font-family: 'Glitch Goblin', sans-serif;
    height: 60px;
    width: 25%;
    color: #ff0000;
    display: flex;
    justify-content: center;
}