*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.section1 {
    width: 20%;
    height: 100%;

    
}
.section2 {
    width: 80%;
    height: 100%;
    background-color: rgb(211, 122, 27);
}
.section1 header{
    height: 180px;
    width: 100%;
    background-color: #FBFBFB;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section1 input{
    height: 50px;
    margin-top: 10px;
    width: 90%;
    border: none;
    border-radius: 7px;
    outline: none;
    background-image: url(../img/magnifying-glass-solid.svg);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: 5% center;
    padding-left: 15%;
}
.section1 input::placeholder{
    color: #B9B9B9;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.section1 input:focus{
    box-shadow: 0 0 5px #5BB8D7;
}
.usuario {
    height: 100px;
    width: 100%;
    background-color: #EEEEEE;
}

.section1 main {
    height: 80%;
    width: 100%;
    overflow-y: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
;
}

.contato {
    background-color: #ffffff;
    height: 80px;
    width: 95%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;

    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    transition: 0.3s ease;
    
}
.contato:hover {
    background-color: #e4e4e4;

}

.contato h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: 200;
}

.contato p {
    font-size: 0.7rem;
    color: gray;
}

.contato img {
    width: 70px;
    height: 70px;
    border-radius: 60%;
}

.section2 header {
    height: 100px;
    width: 100%;
    background-color: #EEEEEE;
}
